body {margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
        /*color:#eeeeee;*/
        color:#605d5c;
	
        behavior:url("../include/fix/csshover.htc");
        z-index:1;
        /*background-color:#ecedef;*/
        background-color:white;
            /*background-image:url(../images/fondo.gif);
    background-position:bottom;
    background-repeat:no-repeat;*/
}

#body2 {margin:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
        /*color:#eeeeee;*/
        color:#605d5c;
	
        behavior:url("../include/fix/csshover.htc");
        z-index:1;
        /*background-color:#ecedef;*/
        background-color:white;
            /*background-image:url(../images/fondo.gif);
    background-position:bottom;
    background-repeat:no-repeat;*/
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Verdana, Lucida, Arial, Helvetica, sans-serif;
        color: #85a923;
	background-color: transparent;
	margin: 0.2em 0px 0.3em 10px;
        font-weight: bold;
}

h1 {
        font-size: 29px;
        margin:0;
         background-image:url(../images/vinetaBlanca30.jpg);
    background-position:left;
    background-repeat:no-repeat;
    padding-left:30px;
}
h2 {
        font-size: 29px;
        color:#d1da59;

    background-image:url(../images/vinetaGris30.jpg);
    background-position:left;
    background-repeat:no-repeat;
    padding-left:30px;
      
}


h3 {
        font-size: 17px;
        color:#605d5c;
/*        font-family: "Microsoft Sans Serif",Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;*/
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        padding:0;
        margin:0;

}

h4 {
        font-size: 12px;
        font-weight:bolder;
        color:#3b6f5d;
        font-family: "Microsoft Sans Serif",Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: normal;
        padding:0;
        margin:0;
        margin-left:30px;
            margin-top:5px;

}
h5 {
        font-size: 16px;
        font-weight:bolder;
        color:#abce1a;
        font-family: "Microsoft Sans Serif",Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
        font-weight: bolder;
        padding:0;
        margin:0;
        margin-left:30px;
            margin-top:5px;

}

p
{
    text-align:justify;
    font-weight:bold;
    font:12px Arial, Helvetica, sans-serif;
}

#Cuerpo
{
    margin:0px auto;
    position:relative;
    margin-left:150px;
    width:950px;
    border:0px black solid;
    height:870px;
    z-index:2;
}

#CuerpoSolicitudes
{
    margin:0px auto;
    position:relative;
    margin-left:150px;
/*    width:950px;*/
    width:1024px;
    border:0px black solid;
    height:645px;
    z-index:2;
}

#CuerpoListaSolicitudes
{
    margin:0px auto;
    position:relative;
    margin-left:150px;
/*    width:950px;*/
    width:1024px;
    border:0px black solid;
    height:645px;
    z-index:2;
}

#CuerpoRecepcionProductoscompra
{
    margin:0px auto;
    position:relative;
    margin-left:150px;
/*    width:950px;*/
    width:1024px;
    border:0px black solid;
    height:800px;
    z-index:2;
}

a
{
    text-decoration: none;
    color:white;
}

a:hover
{
    color:gray;
}

/*---------------------------CABECERA--------------------*/

/*#######################################################################*/
#Cabecera
{
    margin:0;
    float:left;
    margin-top:0px;
    position:relative;
/*    width:750px;*/
    width:1024px;
    height:220px;
    border:0px solid red;
}


.liNoAct { 
       
float: left;
width:130px;
height:37px;
border-right: 0px solid  white;

z-index:5;
}


.liAct
{
  background-color:transparent;
float: left;
width:130px;

height:37px;
border-right: 0px solid  white;
z-index:4;
   
}

.liAct
{
    color: white;
}

/*#######################################################################*/
#CentroImagen
{
    margin:0;
    float:left;
    position:relative;
 
    padding:0px;
    width:100%;
    height:230px ;
    border:0px solid red;
    background-image:url(../images/cielo.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
}

.TituloImgCentro
{
    float:right;
    position:relative;
    font-family: "Trebuchet MS", Verdana, Lucida, Arial, Helvetica, sans-serif;
    /* margin-left: 440px;*/
    margin-top:150px;
    margin-right:20px;
    background-color: transparent;
    font-weight: bold;
    font-size: 22px;
    color:white;
    width:500px;
    text-align:right;
}

.Columna1
{
    margin:0;
    float:left;
    position:relative;
    padding:0px;
/*    width:230px;*/
    width:200px;
    height:535px;
    border:0px solid red;
}

.Columna2
{
    margin:0;
    float:left;
    margin-top:0px;
    position:relative;
/*    width:750px;*/
    width:1024px;
    height:535px;
    border:0px solid blue;
    z-index:1;
}

#columnaCabecera
{
  
    margin:0px auto;
    position:relative;
    margin-left:0px;
    width:1024px;
    border:0px black solid;
    height:250px;
    z-index:2;

}


.textoCabecera
{
    float:left;
    width:300px;
    height:100px;
    margin-top: 35px;
    margin-left: 170px;
    font-size: 26px;
    font-weight:600;
    text-align:center;
    color:#2D2D2D;
    font-family: "Microsoft Sans Serif",Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border:solid 0px blue;

}

#InformacionUsuario
{
    float:right;
    width:260px;
    height:130px;
    margin-top:15px;
    margin-right:10px;
    background-position:bottom;
    background-repeat:no-repeat;
    background-color: #E8E8E8;
    border:solid 0px green;
    z-index:3;
}

.imagenUsuario
{
    float:left;
    width:90px;
    height:90px;
    margin-top:10px;
    margin-left:10px;
    background-position:bottom;
    background-repeat:no-repeat;
    border:solid 0px green;
    z-index:3;
}

.descripcionUsuario
{
    float:right;
    width:135px;
    height:90px;
    margin-top:10px;
    margin-right:18px;
    background-position:bottom;
    background-repeat:no-repeat;
    border:solid 0px green;
    z-index:3;
}

#MenuDesplegable
{
  
    margin-left:0px;
    width:1024px;
    height:35px;
    border:0px solid green;
    margin-top:180px;

}

/* PERMISOS */

#permiso_mantenedor_productos
{
    margin:0;
    position:relative;
    display:none;
}

#permiso_mantenedor_familiaproductos
{
    margin:0;
    position:relative;
    display:none;
}



#HerramientasAdministrativas
{
    margin:0;
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:5px;
    width:190px;
    height:400px;
    border:0px solid black;
    background-color:#CCCCCC;
}

.cabeceraSecciones
{
/*    background-image:url(../images/seccionBarra.jpg);
    background-position:center;
    background-repeat:no-repeat;*/
    width:100%;
    height:30px;
    vertical-align: middle;
    display: block;
    border:0px solid blue;
}

.tituloCabeceraSecciones
{
    font-family: "Trebuchet MS", Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    vertical-align:middle;
    display: inline-block;
    line-height:30px;
    width:100%;
    text-align:left;
    color:rgb(33,113,154);
    border-bottom-color:0px solid green;
}

.cabeceraSeccionHerramientasAdministrativas
{
/*    background-image:url(../images/seccionBarra.jpg);
    background-position:center;
    background-repeat:no-repeat;*/
    width:180px;
    height:40px;
    vertical-align:middle;
    display:block;
    margin-left:10px;
    margin-top:4px;
    border:0px solid yellow;
}

.tituloCabeceraSeccionHerramientasAdministrativas
{
    font-family:"Trebuchet MS", Verdana, Lucida, Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:15px;
    vertical-align:middle;
    display:inline-block;
    line-height:20px;
    width:200px;
    text-align:left;
    color:rgb(33,113,154);
    border:0px solid red;
}

.ComposicionHerramientasAdministrativas
{
    width:215px;
    height:190px;
    border:0px solid red;
}

.tituloCabeceraHerramientasAdministrativas
{
    margin:0;
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:5px;
    width:130px;
    height:55px ;
    border:0px solid green;
}

.tituloCabeceraHerramientasAdministrativas p
{
        font-family: "Trebuchet MS", Verdana, Lucida, Arial, Helvetica, sans-serif;
        margin:0;
	background-color: transparent;
        color:rgb(23,25,26);
        font-weight:bolder;
        font-size:12px;
        width:125px;
        height:55px;
        text-align:justify;
}

.detalleHerramientasAdministrativas
{
    margin:0;
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:5px;
    width:130px;
    height:90px ;
    border:0px solid green;
}

.detalleHerramientasAdministrativas span
{
        font-family: "Trebuchet MS", Verdana, Lucida, Arial, Helvetica, sans-serif;
        margin:0;
	font-weight: normal;
        font-size: 12px;
        color:black;
        width:110px;
        height:70px;
        white-space: normal;        
}

/*---------------------------------------------------------------------*/

.solicitudes
{
    background-color:#CCCCCC;
    color:rgb(51,51,51);
}

.TablaDetalleSolicitud
{
    background-color:#CCCCCC;
    color:rgb(51,51,51);
    font-size:13px;
}

.CampoTablaPlomo
{
    background-color:lavender;
    font-family: Calibri, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color:#1e2c3f;
}

.CampoRegistrosTablaPlomo
{
    background-color:#eeeeee;
}

.Checkbox
{
    width:8px;
    margin-left:3px;
    height:12px;
}

#SolicitudesEnCurso
{
    margin:0;
    float:left;
    position:relative;
    margin-left:2px;
    margin-top:5px;
    width:824px;
    height:535px;
    border:0px solid black;
}

.ComposicionSolicitudesEnCurso
{
    width:643px;
    height:130px;
    border:0px solid red;
}

#SolicitudesEjecutadas
{
    margin:0;
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:5px;
    width:645px;
    height:170px;
    border:0px solid black;
}

.ComposicionSolicitudesEjecutadas
{
    width:643px;
    height:130px;
    border:0px solid red;
}

#SolicitudesRechazadas
{
    margin:0;
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:5px;
    width:645px;
    height:170px;
    border:0px solid black;
}

.ComposicionSolicitudesRechazadas
{
    width:643px;
    height:130px;
    border:0px solid red;
}

#TablaMaestroFamiliaProductos
{
    margin:0;
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:5px;
    width:645px;
    height:200px;
    border:0px solid black;
}

.ComposicionTablaMaestroFamiliaProductos
{
    width:643px;
    height:130px;
    border:0px solid red;
}

#DetalleMaestroFamiliaProductos
{
    margin:0;
    float:left;
    position:relative;
    margin-left:5px;
    margin-top:5px;
    width:645px;
    height:170px;
    border:0px solid black;
}

.ComposicionDetalleMaestroFamiliaProductos
{
    width:643px;
    height:130px;
    border:0px solid red;
}

#SolicitudABodega
{
    margin:0;
    float:left;
    position:relative;
    margin-left:2px;
    margin-top:5px;
    width:824px;
    height:535px;
    border:0px solid black;
}

.ComposicionSolicitudAbodega
{
    width:1024px;
    height:505px;
    border:0px solid red;
}

.camposSolicitudABodega
{
    width:824px;
    height:500px;
    border:0px solid blue;
    margin-left:0px;
}

.botonesSolicitudAbodega
{
    margin-top:20px;
    margin-left:220px;
    width:320px;
    height:65px;
    border:0px solid red;
    vertical-align:middle;
    display:inline-block;
}

#RecepcionProductosCompra
{
    margin:0;
    float:left;
    position:relative;
    margin-left:0px;
    margin-top:5px;
    width:1020px;
    height:635px;
    border:0px solid black;
}

.botonesPequenos
{
    width:60px;
}

.botonEnvio
{
    width:220px;
    height:60px;
}

.tituloCabeceraMaestro
{
    width:260px; 
    font-weight:bolder;
    font:13px Calibri, Helvetica, sans-serif;
    font-weight: bold;
    text-align:left;
    border:0px solid green;
    text-align:center;
}

.TDVerde
{
    background-color:lightgreen;
}

.tituloCabeceraLista
{
    width:120px; 
    /*margin-left:220px;*/
    font-weight:bolder;
    font:13px Arial, Helvetica, sans-serif;
    text-align:left;
    border:0px solid green;
    text-align:center;
}

/*------------------------------------------------*/

#Centro,#CentroQ{
    
    margin:0 auto;
    padding:0px;
    width:100%;
    height:100% ;
    border:0px solid red;

}

#Centro{
 background-color:#605d5c;
}


#CentroS{

    margin:0 auto;
    padding:0px;
	

    height:920px ;
    border:0px solid red;
     background-color:white;
     z-index:4;
}

#CentroS1{

    margin:0 auto;
    padding:0px;
    width:100%;
    height:1280px ;
    border:0px solid red;
     background-color:white;
     z-index:4;
}

#CentroDireccion{

   margin:0 ;
    padding:0px;
    width:950px;
    height:690px ;
    border:0px solid red;
     background-color:white;
     z-index:4;
}

.parrServ{

    color:#605d5c;
    /*font: 12px "Microsoft Sans Serif",Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;*/
     font: 12px  Arial, Helvetica, sans-serif;
    margin:0;
    padding:0px;
    border:0;
    text-align:left;
    padding:5px 5px 0px 5px;
    font-weight:normal;
    line-height:17px;
}

#CentroContacto{

   margin:0 ;
    padding:0px;
    width:950px;
    height:750px ;
    border:0px solid red;
     background-color:white;
     z-index:4;
}

#imgL{
    margin:0 auto;
    padding:0px;
    width:100%;
    height:250px;
    border:0px solid red;
        
    background-image:url(../images/fotoL2.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#605d5c;

}

#imgL2{
    margin:0 auto;
    padding:0px;
    width:100%;
    height:250px;
    border:0px solid red;

    background-image:url(../images/fotoL3.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#605d5c;

}

#imgL3{
    margin:0 auto;
    padding:0px;
    width:100%;
    height:250px;
    border:0px solid red;

    background-image:url(../images/fotoL4.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#605d5c;

}

#imgL4{
    margin:0 auto;
    padding:0px;
    width:100%;
    height:250px;
    border:0px solid red;

    background-image:url(../images/fotoL5_1.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#605d5c;

}

#imgL5{
    margin:0 auto;
    padding:0px;
    width:100%;
    height:250px;
    border:0px solid red;

    background-image:url(../images/fotoL6.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:#605d5c;

}

#textoSeccion{
    margin:0 auto;
    position:relative;
    float:none;
    padding:0px;
    width:650px;
    height:40px;
    border:0px solid black;
    /*margin-top:15px;
    margin-right:65px;*/
    padding:10px;
    background-color:white;
}
#textoSeccion p{   
     color:black;
    font: 15px   Arial, Helvetica, sans-serif;
    font-weight:bolder;
    border:0px white solid;
    z-index:10;
}

#URLSeccion,#URLSeccionB{
    margin:0 auto;
    position:relative;
    float:left;
    padding:0px;
    width:80%;
    height:40px;
    border:0px solid red;
 
}
#URLSeccion{
   
    background-color:white;
}
#URLSeccionB{

    background-color:transparent;
}

#URLSeccion p{
    margin:0;
    padding:0px;
    padding:10px 0px 0px 10px;
    margin-left:30px;    
    font: 13px  "Microsoft Sans Serif",Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:normal;
    border:0px white solid;
    z-index:10;
}
#URLSeccionB p{
    margin:0;
    padding:0px;
    padding:10px 0px 0px 10px;
    margin-left:30px;
    font: 13px  "Microsoft Sans Serif",Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight:normal;
    border:0px white solid;
    z-index:10;
}

#URLSeccion p{

      color:#605d5c;

}
#URLSeccionB p{

     color:#605d5c;

}

#URLSeccion p a{

    color:#605d5c;
}
#URLSeccion p a:hover{

    color:#94b300;
}

#URLSeccionB p a{
    color:#605d5c;
}

#URLSeccionB p a:hover{

    color:#94b300;
}
#Supercontenedor,#Supercontenedor2{
position:relative;
margin:0 auto;
    padding:0px;
    border:0;
    width:100%;
   
    border:0px solid white;
   background:white;
}

#Supercontenedor{ height:250px;}

#Supercontenedor2{ height:280px;}


#contenedor{
  margin:0;
    padding:0;
    border:0;
    width:100%;
    height:auto;
    border:0px solid red;
   margin-top:0px;
   margin-bottom:0px;
   background:transparent;
}

#contenedor1{
  margin:0;
    padding:0;
    border:0;
    width:100%;
    height:1080px;
    border:0px solid blue;
   margin-top:0px;
   margin-bottom:0px;
   background:white;
}

#cuadro1,#cuadroQ,#cuadro_DetSer{

    position:relative;
    float:left;
     margin:0 auto;
     margin-left:20px;
    padding:0px;
    width:45%;
    border:0px solid white;
    
}
#cuadro1{
    float:left;
   margin-left:50px;
       width:55%;
}
#cuadro_DetSer{
   
    float:left;
   margin-left:50px;
     width:60%;
}
#cuadroQ{
    height:120px;
}

#cuadroS{
    position:relative;
    float:left;
      margin-top:0px;
      margin-right:30px;
      margin-bottom:30px;
      margin-left:80px;
      
    
    padding:0px;
    width:270px;
    
    height:auto;
    border:0px solid black;
    color:black;

}
#cuadroS a h3{
    font-size: 17px;
        color:#605d5c;
/*        font-family: "Microsoft Sans Serif",Tahoma,"Trebuchet MS", Arial, Helvetica, sans-serif;*/
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        padding:0;
        margin:0;
}

#cuadro2{
    margin:0;
    padding:0;
    border:0;
    position:relative;
    float:left;
    margin:30px;
    margin-top:0px;
    width:520px;

    height:auto;
    border:0px solid red;

}

#mensaje_counter{    
    width:200px;
    margin-left:165px;
}

form
{
    margin:0;
    padding:0px;
    margin-top:0px;
    margin-left:0px;
    text-align:left;
    font-weight:bold;
    font:10px Arial, Helvetica, sans-serif;
    color:black;
    width:1024px;
    border:0px solid green;
}

/*---------------------------------------------------------*/

form fieldset
{
    position:relative;
    margin:0px auto;
    width:auto;
    height:auto;
    border:0px solid yellow;
}

form legend
{
    font:0% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

form fieldset ol
{
    border:0px solid brown;
    margin:0;
    padding:0;
}

form fieldset ol li
{
    list-style:none;
    padding: 2px 0px 2px 0px;
}

form fieldset ol li label
{
    margin:0;
    display:inline-block;
    width:120px;
    vertical-align:central;
    font-weight:bold;
    font:12px Arial, Helvetica, sans-serif;
    border:1px solid blue;
    height:18px;
}

form fieldset ol li input
{
    left:100px; /* Width plus 3 (html space) */
    width:150px;
    border:1px solid black;
    margin-left:0px;
    font-weight:normal;
    font:12px Arial, Helvetica, sans-serif;
    height:18px;
}

form fieldset ol li select
{
    left:100px; /* Width plus 3 (html space) */
    border:1px solid black;
    margin-left:0px;
    font-weight:normal;
    font:12px Arial, Helvetica, sans-serif;
    height:20px;
}

/*form fieldset ol li textarea
{
    left: 100px;  Width plus 3 (html space) 
    width:250px;
    border:0px solid black;
    margin-left:10px;
    font-weight:normal;
    font: 12px Arial, Helvetica, sans-serif;
}*/

form fieldset table tr
{
    border:0px solid brown;
    margin:0;
    padding:0;
}

form fieldset table tr td
{
    list-style:none;
    padding: 2px 0px 6px 0px;
}

form fieldset table tr td label
{
    margin:0;
    display:inline-block;
    width:130px;
    vertical-align:central;
    font-weight:bold;
    font:12px Arial, Helvetica, sans-serif;
    border:0px solid blue;
    height:22px;
}

form fieldset table tr td input
{
    left: 100px; /* Width plus 3 (html space) */
    width:100px;
    border:1px solid black;
    font-weight:normal;
    font:12px Arial, Helvetica, sans-serif;
    height:20px;
}

form fieldset table tr td div input
{
    left: 100px; /* Width plus 3 (html space) */
    width:100px;
    border:1px solid black;
    font-weight:normal;
    font:12px Arial, Helvetica, sans-serif;
    height:20px;
}

form fieldset table tr td select
{
    left:100px; /* Width plus 3 (html space) */
    border:1px solid black;
    margin-left:7px;
    font-weight:normal;
    font:12px Arial, Helvetica, sans-serif;
    height:20px;
}

form fieldset table tr td textarea
{
    left: 100px; /* Width plus 3 (html space) */
    width:250px;
    border:0px solid black;
    margin-left: 10px;
    font-weight:normal;
    font: 12px Arial, Helvetica, sans-serif;
}

form fieldset ol li label.error 
{
    margin-left:5px;
    color:red;
    font-weight:bold;
}

form fieldset ol li input.error 
{
    border:dashed 0px red;
}

form fieldset ol li textarea.error
{
    border:dashed 0px red;
}

#SinLegend
{
    font: 0% "Trebuchet MS", Arial, Helvetica, sans-serif;
}



/*-------------------------------------------------------*/



.button{
    margin:0;
    margin-top:10px;
    margin-left:13px;
    width:90px;
    height:30px;
    line-height:30px;
    border:0px solid gray;
    background-color:orange;
    color:white;
}


#cuadro1 p{
        padding:0px;
        margin:0;
    margin-left:40px;
	    margin-top:10px;
	 color:#605d5c;
}



#cuadroQ p
{
        padding:0px;
        margin:0;
	    margin-left:40px;
		color:#605d5c;
}

#preS1,#preS2,#preS3,#preS4,#preS5,#preS6{
       padding:0px;
       margin:0;
       margin-top:5px;
       width:270px;
       height:60px;
       border:0px solid red;
}
#verS{

       padding:0px;
       margin:0;
       position:relative;
       top:0;
       width:25%;
       height:20px;
       
       border:0px solid red;
       background:black;
}
#verS p {
       line-height:20px;
       position:relative;
       margin:0;
       padding:0;
       padding-left:5px;
       border:0px solid red;
}


#preS1{
    background-color:#3b6f5d;
    color:white;
}

#preS2{
    background-color:#666666;
    color:white;
}

#preS2 a:hover{
    color:white;
}
#preS3{
     background-color:#1e2c3f;
    color:white;
    
}

#preS4{
    background-color:#94b300;
    color:white;
}

#preS5{
    height:63px;
    background-color:orange;
    color:white;
}
#preS6{
    height:63px;
    background-color:black;
    color:white;
}

.prewS{
    
    margin:0;
    padding:0px;
    border:0;
    text-align:left;
    padding:5px 5px 0px 5px;
    font-weight:normal;
    font: 10px Arial, Helvetica, sans-serif;
}

#imageContacto{

        padding:0px;
        margin:0;
      margin-top :40px;
        float:left;
        position:relative;

    border:0px solid black;
         
       width:270px;
       height:195px;
       background-image:url(../images/conta.gif);
    background-position:center;
    background-repeat:no-repeat;
}

#imgS1,#imgS2,#imgS3,#imgS4,#imgS5{
        padding:0px;
        margin:0;
        margin-top:0px;
       width:270px;
       height:195px;
       
}
#imgS1{
        background-image:url(../images/gProy.gif);
    background-position:center;
    background-repeat:no-repeat;
}
#imgS2{
        background-image:url(../images/dev.gif);
    background-position:center;
    background-repeat:no-repeat;
}
#imgS3{
        background-image:url(../images/manten.gif);
    background-position:center;
    background-repeat:no-repeat;
}
#imgS4{
        background-image:url(../images/consul.gif);
    background-position:center;
    background-repeat:no-repeat;
}
#imgS5{
        background-image:url(../images/soportetec.jpg);
    background-position:center;
    background-repeat:no-repeat;
}


#imgExp1,#imgExp2,#imgExp3,#imgExp4,#imgExp5,#imgExp6{
        padding:0px;
        margin:0;
        margin-top:0px;
       width:270px;
       height:195px;

}
#imgExp1{
        background-image:url(../images/logistica1.gif);
    background-position:center;
    background-repeat:no-repeat;
}
#imgExp2{
        background-image:url(../images/puerto.jpg);
    background-position:center;
    background-repeat:no-repeat;
}
#imgExp3{
        background-image:url(../images/industria.jpg);
    background-position:center;
    background-repeat:no-repeat;
}
#imgExp4{
        background-image:url(../images/gobierno.jpg);
    background-position:center;
    background-repeat:no-repeat;
}
#imgExp5{
        background-image:url(../images/seguro.jpg);
    background-position:center;
    background-repeat:no-repeat;
}
#imgExp6{
        background-image:url(../images/exportacion.jpg);
    background-position:center;
    background-repeat:no-repeat;
}

#parrafo{
    position:relative;
    float:left;
    margin:0;
    padding:0;
    height:auto;
    width:100%;
    border:0px solid blue;
    z-index:7;
}
#parrafo p{
    color:black;
    text-align:left;
    padding:0px 5px 20px 40px;
    font-weight:normal;
    font: 10px Arial, Helvetica, sans-serif;
}


#image1,#image_Dir,#image_Des,#image_Man,#image_Proc,#img_Sop,#imageError,#image_Log,#image_Ind,#image_Port,
#image_Gub,#image_Seg, #image_Exp{
    position:relative;
   float:left;
    margin:0 auto;
    margin-left:40px;
    padding:0px;
    width:190px;
    height:190px;
    margin-bottom:20px;
    border:0px solid green;
}
#image1{
    background-image:url(../images/vina3.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;
}

#imageError{
    background-image:url(../images/error.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;
}

#image_Dir{
    width:190px;
    background-image:url(../images/gProy.gif);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;

}
#image_Des{
    width:190px;
    background-image:url(../images/dev.gif);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;

}

#image_Man{
    width:190px;
    background-image:url(../images/manten.gif);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;

}

#image_Proc{
    width:190px;
        background-image:url(../images/consul.gif);
    background-position:center;
    background-repeat:no-repeat;
    background-color:white;

}



#img_Sop{
    width:190px;
     height:190px;
    background-image:url(../images/soportetec.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;

}

#image_Log{
    background-image:url(../images/logistica1.gif);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;
}

#image_Ind{
    background-image:url(../images/industria.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;
}
#image_Port{
    background-image:url(../images/puerto.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;
}

#image_Gub{
    background-image:url(../images/gobierno190.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-color:white;
}
#image_Seg{
    background-image:url(../images/seguro.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;
}

#image_Exp{
    background-image:url(../images/exportacion.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
    background-color:white;
}
#cuadro_DetSer dt{
    margin-top:5px;

}


#cuadro_DetSer dl{
    margin:0;
    margin-left:30px;
    margin-top:10px;
    padding:0;
    list-style:none;
}


#cuadro_DetSer dl dt{
    color:#77853c;
     font: 12px  Arial, Helvetica, sans-serif;
     font-weight:bolder;
      padding:10px 0px 0px 0px ;
}
#cuadro_DetSer dl dd{
    color:#605d5c;
     font: 12px  Arial, Helvetica, sans-serif;
     padding:5px 0px 0px 0px ;
}

/*#######################################################################*/



/*----------------------____PIE------------------------*/
#pie{
    margin:0;
    padding:0px;
    float:left;
    position:relative;
    height:155px;
    width:950px;
    border:0px solid pink;
  background-color:#f1f3f4;
    background-image:url(../images/logoPie.jpg);
    background-position:right;
    background-repeat:no-repeat;
    text-align:center;

}



#titBoxPie{
    width:100%;
    position:relativelo;
    float:left;
     font: 12px  Tahoma,Arial, Helvetica, sans-serif;
     color:white;
     font-weight:bolder;
     border:0px solid yellow;
 text-align:left;
 margin-top:10px;
 margin-left:10px;
}

#BoxList{
    margin:0;
    padding:0;
   width:100%;
   border:0px solid pink;
    position:relative;
    float:left;
    margin-top:10px;
    color:#999999;
}

#contacto
{
    float:left;
    padding:0px;
    margin:0px;
    height:auto;
    width:25%;
    border-right:0px solid #dddddd;
    margin-left:0px;
    margin-top:0px;
    height:155px;
    background:#dee658;
}

#MenuPie
{
    float:left;
    padding:0px;
    margin:0px;
    height:auto;
    width:20%;
    border-right:0px solid #dddddd;
    margin-left:0px;
    margin-top:0px;
    height:155px;
    background:#cbc256;
}

#servicios
{
    float:left;
    padding:0px;
    margin:0px;
    height:auto;
    width:25%;
    border-right:0px solid #dddddd;
    margin-left:0px;
    margin-top:0px;
    height:155px;
    background:#b8bf4a;
}

#logotipo
{
    float:left;
    padding:0px;
    margin:0px;
    height:155px;
    width:22%;
    border:0px solid red;
    background-color:#f1f3f4;
    background-image:url(../images/logoPie.jpg);
    background-position:left;
    background-repeat:no-repeat;
 /*   background-color:white;*/
}


 #BoxList ul
      {
         margin:0;
         padding:0;
         margin-left:20px;
         text-align:left;
         list-style-position:inside; 
      }

#BoxList ul li
{
    margin:0;
    padding:0;
    text-align:left;
    list-style:none;
    display: inline;
}

#BoxList ul li a
{
    margin:0 auto;
    padding:0px;
    padding-top:5px;
    text-decoration: none;
    font:10px "Microsoft Sans Serif", Arial, Helvetica, sans-serif;
    display:block;
    color:#666666;
}

 #BoxList ul li a:hover
 {
     color:white;
     font-size:10px;
 }

#BoxList a:active
{
    color:#666666;
}

#BoxList a:visited
{
    color:#666666;
}

.BotonesDetalleTablaMaestro
{
    margin:0;
    float:none;
    position:relative;
    padding:0px;
    width:160px;
    height:23px;
    border:0px solid blue;
    margin-left:335px;
}

.textboxLargo
{
    width:230px;
    height:18px;
}

.textboxMediano
{
    width:150px;
    height:18px;
}

.textboxCorto
{
    width:60px;
    height:18px;
}

.combosFPyP
{
    width:700px;
    height:18px;
}



a
{
    display:block;
    color:#FFF;
    text-decoration:none;
    font-family:'Helvetica', Arial, sans-serif;
    font-size:13px;
    padding:3px 5px;
    text-shadow:0px 0px 0px #325179;
}



.camposSolicitudGeneral
{
    width:100%;
    height:65px;
    vertical-align:middle;
    display:block;
    border:0px solid red;
    margin-left:0px;
}

.camposSolicitudGeneralIzquierda
{
    float:left;
    width:300px;
    height:60px;
    vertical-align:middle;
    display:block;
    border:0px solid green;
    margin-top:5px;
}

.camposSolicitudGeneralDerecha
{
    float:right;
    width:300px;
    height:60px;
    vertical-align:middle;
    display:block;
    border:0px solid yellow;
    margin-top:5px;
}

.camposRecepcionProductosCompraGeneral
{
    width:100%;
    height:75px;
    vertical-align:middle;
    display:block;
    border:0px solid red;
    margin-left:0px;
}

.camposRecepcionProductosCompraIzquierda
{
    float:left;
    width:300px;
    height:60px;
    vertical-align:middle;
    display:block;
    border:0px solid green;
    margin-top:5px;
}

.camposRecepcionProductosCompraDerecha
{
    float:right;
    width:300px;
    height:60px;
    vertical-align:middle;
    display:block;
    border:0px solid yellow;
    margin-top:5px;
}




.camposSolicitudDetalle
{
    width:100%;
    height:210px;
    vertical-align:middle;
    display:block;
    border:0px solid red;
}

.camposSolicitudDetalleSuperior
{
    float:left;
    width:100%;
    height:45px;
    vertical-align:middle;
    display:block;
    border:0px solid green;
    margin-top:10px;
}

.camposSolicitudDetalleInferior
{
    float:left;
    width:100%;
    height:50px;
    vertical-align:middle;
    display:block;
    border:0px solid yellow;
}

.camposSolicitudDetalleInferiorIzquierda
{
    float:left;
    width:340px;
    height:50px;
    vertical-align:middle;
    display:block;
    border:0px solid yellow;
}

.camposSolicitudDetalleInferiorDerecha
{
    float:right;
    width:340px;
    height:50px;
    vertical-align:middle;
    display:block;
    border:0px solid yellow;
}

.ComposicionListasSolicitudesABodega
{
    width:822px;
    height:505px;
    border:0px solid red;
}

.camposRecepcionProductosDetalleSuperior
{
    float:left;
    width:100%;
    height:45px;
    vertical-align:middle;
    display:block;
    border:0px solid green;
    margin-top:10px;
}

.camposRecepcionProductosDetalleInferior
{
    float:left;
    width:100%;
    height:150px;
    vertical-align:middle;
    display:block;
    border:0px solid yellow;
}

.camposSolicitudDetalleInferiorIzquierda
{
    float:left;
    width:340px;
    height:150px;
    vertical-align:middle;
    display:block;
    border:0px solid blue;
}

.camposSolicitudDetalleInferiorDerecha
{
    float:right;
    width:340px;
    height:150px;
    vertical-align:middle;
    display:block;
    border:0px solid green;
}

.ComposicionListasSolicitudesABodega
{
    width:822px;
    height:505px;
    border:0px solid red;
}

.botonesRecepcionProductos
{
    margin-top:10px;
    margin-left:320px;
    width:320px;
    height:65px;
    border:0px solid red;
    vertical-align:middle;
    display:inline-block;
}

#VISSOLBODJDEPTO
{
    margin:0;
    position:relative;
    display:none;
}

#VISSOLBODJGNRAL
{
    margin:0;
    position:relative;
    display:none;
}

#VISSOLBODJBOD
{
    margin:0;
    position:relative;
    display:none;
}

.botonLog
{
    width:130px;
    vertical-align:middle;
    display:inline-block;
}

.botonVisar
{
    width:50px;
    vertical-align:middle;
    display:inline-block;
}

.botonAnular
{
    width:60px;
    vertical-align:middle;
    display:inline-block;
}

.botonIngresarConteo
{
    width:120px;
    vertical-align:middle;
    display:inline-block;
}

.botonVerDetalle
{
    width:85px;
    vertical-align:middle;
    display:inline-block;
}

.botonVisarAjuste
{
    width:85px;
    vertical-align:middle;
    display:inline-block;
}

.botonSolicitarAjuste
{
    width:113px;
    vertical-align:middle;
    display:inline-block;
}