@font-face {
	font-family: 'gobCL';
	font-weight: normal;
	font-style: normal;
	
	src: url('fonts/gobcl_regular-webfont.eot');
	src: local('?'), url('fonts/gobcl_regular-webfont.woff') format('woff'), url('fonts/gobcl_regular-webfont.ttf') format('truetype'), url('fonts/gobcl_regular-webfont.svg#webfont3jnenQ5S') format('svg');
}

/*	font-family: 'gobCL', Arial, sans-serif; */


* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #0F8C8C;
}

a:hover {
	text-decoration: underline;
}

body {
	font-size: 12px;
	color: #5C5B5B;
	line-height: 1.75em;
	background: #E0DCDC url(images/img01.gif) repeat-x top left;
	font-family: Arial, sans-serif;
}

strong {
	color: #2C2B2B;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	font-weight: normal;
	letter-spacing: -1px;
}

h1{margin-bottom: 10px;}

h2 {
	font-size: 2.25em;
}

h2,h3,h4 {
	color: #2C2B2B;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.75em;
	padding-left: 30px;
	background: url('../images/tick.png') no-repeat left;
	padding-top: 4px;
	padding-bottom: 4px;
}

h4 {
	font-size: 1.5em;
}

/* Iconos Cabeceras */

.inter{display: block; margin-right: 10px; height: 97px; width: 80px; background: url('../images/internacion.png') no-repeat left;}
.admins{display: block; margin-right: 10px; height: 97px; width: 80px; background: url('../images/administradores.png') no-repeat left;}
.repor{display: block; margin-right: 10px; height: 97px; width: 80px; background: url('../images/reportes.png') no-repeat left;}
.grafic{display: block; margin-right: 10px; height: 97px; width: 80px; background: url('../images/graficos.png') no-repeat left;}

/* Index */

.head-title {width: 450px; margin-left: 25px; padding-top: 15px;}
.welcome {text-align: center; width: 600px; margin: 0 auto;}
.text01 {width: 560px;}

#panel {background: #26aeae; height: 120px; padding: 40px 45px; color: #fff;}
#panel h1{color: #fff;}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

img.pic {
	padding: 5px;
	border: solid 1px #D4D4D4;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}
.col-left {width: 50%; float: left;}
.col-right {width: 50%; float: right;}
.col-tri {width: 33%; float: left;}
.col-tri label {width: 120px !important;}

.left {float: left;}
.right {float: right;}

.box {
	overflow: hidden;
	margin-bottom: 1em;
}

.date {
	background: #6E6E6E;
	padding: 5px 6px 5px 6px;
	margin: 0 6px 0 0;
	color: #FFFFFF;
	font-size: 0.8em;
	border-radius: 2px;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../images/icon_top.png') no-repeat;
}
#content {
	/*width: 665px;
	float: left;*/
	padding: 0;
}

#content-box1 {
	width: 320px;
	float: left;
}

#content-box2 {
	margin: 0 0 0 345px;
	width: 320px;
}

#content label {display: inline-block; width: 200px; margin-bottom: 7px;}

#content fieldset {
	padding: 15px;
}

#content input[type="text"] {
	width: 190px; 
	padding: 3px;
	border-radius: 2px;
	border: 1px solid #C3C3C3;
	color: dimGray;
}
#content select {
	width: 198px; 
	padding: 2px;
	border-radius: 2px;
	border: 1px solid #C3C3C3;
	color: dimGray;
}
#content textarea {
	border-radius: 2px;
	border: 1px solid #C3C3C3;
}

#footer {
	text-align: center;
	color: #CBCBCB;
	background: #444;
	padding: 15px 0;
}

#footer a {
	color: #8C8B8B;
}

#header {
	height: 100px;
	position: relative;
	background: #26aeae url(../images/gobtag.png) top right no-repeat;
	padding: 20px 45px;
	color: #FFFFFF;
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
	overflow: hidden;
}

#logo {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	top: 0;
	left: 45px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
	text-shadow: 0 1px 1px #3E3E3E;
}

#logo h1 {
	font-size: 3.25em;
}

#slogan {
	line-height: 160px;
	height: 160px;
	padding: 5px 0 0 0;
	position: absolute;
	right: 45px;
	top: 0;
}

#slogan h2 {
	color: #BEBEBE;
	font-size: 1.25em;
	text-shadow: 0 1px 1px #3E3E3E;
}

.menu {float: left;}
#login {float: right;}
#login .lcol-01 {padding: 5px 0; float: left; width: 550px; color: #cbcbcb;}
#login .lcol-02 {float: left; width: 60px; padding: 3px;}
.form-login {
	background: url(../images/login-input.png) center no-repeat; 
	width: 180px; 
	height: 40px; 
	border: none;
	padding: 0 10px;
	color: white;
}
.form-login input[type="text"], .form-login {vertical-align: middle;}
#login input[type="button"] {margin-top: 9px;}

#menu {
	padding: 0 45px 0 45px;
	position: relative;
	background: #444444;
	margin: 0;
	height: 50px;
	text-shadow: 0 1px 2px black;
	font-family: Arial, sans-serif;
}

#menu ul {
	list-style: none;
	padding-top: 12px;
	position: relative;
	left: -15px;
}

#menu ul li {
	padding: 5px 15px 5px 15px;
	margin-right: 10px;
	display: inline-block;
}

#menu ul li a, #menu ul li span {
	text-decoration: none;
	color: #cbcbcb;
	font-size: 12px;
}

#menu ul li .active {color: #fff;}

#menu ul li span b {
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid #1C7575;
	margin-left: 8px;
	position: relative;
	top: -1px;
}

#menu ul li.active {
	background: #363636;
	border-top: solid 1px #373737;
	border-bottom: solid 1px #9f9f9f;
	border-radius: 3px;
	padding-top: 4px;
	padding-bottom: 4px; 
}

#menu ul li.active span b {
	border-top-color: #165E5E;
}

.dropotron {
	background: rgba(68,68,68,0.9); 
	/*background: rgba(3,157,157,0.9); ---> con opacidad */
	border-top: solid 1px #B1B1B1;
	border-bottom: solid 1px #3F3F3F;
	/*text-shadow: 0 1px 1px #007D7D;*/
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 15px 10px 15px 10px;
	min-width: 200px;
	border-radius: 6px;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.dropotron a, .dropotron span {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	width: 100%;
	position: relative;
}

.dropotron span b {
	display: inline-block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 7px solid #1C7575;
	position: absolute;
	right: 0px;
	top: 7px;
}

.dropotron li:hover span b {
	border-left-color: #165E5E;
}

.dropotron li {
	padding: 3px 10px 3px 10px;
	margin: 2px 0 2px 0;
	border-radius: 3px;
}

.dropotron li:hover, .dropotron li.active {
	padding-top: 2px;
	padding-bottom: 2px;
	background: #363636;
	border-top: solid 1px #373737;
	border-bottom: solid 1px #9f9f9f;
}

.dropotron-level-1 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#page {
	padding: 45px 45px 15px 45px;
	position: relative;
	width: 1024px;
	margin: 0;
}

#page .section-list {
	list-style: none;
	padding-left: 0;
}

#page .section-list li {
	clear: both;
	padding: 30px 0 30px 0;
}

#page ul {
	list-style: none;
}

#page ul li {
	border-top: dotted 1px #C4C4C4;
	padding: 15px 0 15px 0;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom {
	position: relative;
	margin: 0;
	background: #6E6E6E url(images/img03.jpg) top left no-repeat;
	border: solid 1px #7E7E7E;
	width: 888px;
	padding: 45px 45px 0 45px;
	color: #DCDCDC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-shadow: 0 1px 1px #444444;
}

#page-bottom a {
	color: #F5F5F5;
}

#page-bottom h2, #page-bottom h3, #page-bottom h4 {
	color: #FFFFFF;
}

#page-bottom ul {
	list-style: none;
}

#page-bottom ul li {
	border-top: dotted 1px #8F8F8F;
	padding: 15px 0 15px 0;
}

#page-bottom ul li.first {
	padding-top: 0;
	border-top: 0;
}

#page-bottom-content {
	width: 1024px;
	float: left;
}

#page-bottom-sidebar {
	width: 200px;
	margin: 0 0 0 690px;
}

#search input.form-submit {
	margin-left: 1em;
	color: #FFFFFF;
	padding: 10px;
	background: #2FACAC;
	border: 0;
}

#search input.form-text {
	border: solid 1px #8F8F8F;
	padding: 10px;
}

#sidebar {
	width: 200px;
	padding: 0;
	margin: 0 0 0 690px;
}

#wrapper {
	position: relative;
	width: 1115px;
	margin: 0 auto;
	background: #FFFFFF;
	border-radius: 6px;
	box-shadow: 0px 5px 20px 2px rgba(0,0,0,0.1);
}

.button, .button:visited { /* botones genéricos */
	background: #222 url(http://sites.google.com/site/zavaletaster/Home/overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #FFF;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor:pointer;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}

.button:hover { /* el efecto hover */
	background-color: #111;
	color: #FFF;
}

.button:active{ /* el efecto click */
	top: 1px;
}

/* botones pequeños */
.small.button, .small.button:visited {
	font-size: 11px ;
}

/* botones medianos */
.button, .button:visited,.medium.button, .medium.button:visited {
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

/* botones grandes */
.large.button, .large.button:visited {
	font-size:14px;
	padding: 8px 14px 9px;
}

/* botones extra grandes */
.super.button, .super.button:visited {
font-size: 34px;
padding: 8px 14px 9px;
}

.pink.button { background-color: #E22092; }
.pink.button:hover{ background-color: #C81E82; }

.green.button, .green.button:visited { background-color: #91BD09; }
.green.button:hover{ background-color: #749A02; }

.red.button, .red.button:visited { background-color: #E62727; }
.red.button:hover{ background-color: #CF2525; }

.orange.button, .orange.button:visited { background-color: #FF5C00; }
.orange.button:hover{ background-color: #D45500; }

.blue.button, .blue.button:visited { background-color: #2981E4; }
.blue.button:hover{ background-color: #2575CF; }

.yellow.button, .yellow.button:visited { background-color: #FFB515; }
.yellow.button:hover{ background-color: #FC9200; }


ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}
        
ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 2px 2px 0 0;
    outline:none;
}
        
ul.tabs li a:visited
{
    color: #000;
}
        
ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}
        
ul.tabs li.selected a
{
    /*selected tab style */
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}
        
        
ul.tabs li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}
        
div.tabcontent
{
    display: block;
}

div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 30px;
    background-color:#FFF;
    border-radius: 0 2px 2px 2px;
}
#InformacionUsuario
{
	float: right;
	margin-top: 5px;
	background-color: #67C9C9;
}

.descripcionUsuario
{
    padding: 10px 20px;
}

#columnaIzquierda
{
    float:left;
    width:430px;
    height:680px;
    margin-top:5px;
    margin-left:10px;
    background-position:bottom;
    background-repeat:no-repeat;
    /*background-image:url(../images/Bienvenido.jpg);*/
    border:solid 0px green;
    z-index:3;
}

#columnaDerecha
{
    float:left;
    width:551px;
    height:680px;
    margin-top:5px;
    margin-left:20px;
    background-position:bottom;
    background-repeat:no-repeat;
    border:solid 0px green;
    z-index:3;
}


#columnaDerechaIzqTexto
{
    float:left;
    width:61px;
    height:370px;
    margin-top:5px;
    margin-left:2px;
    background-position:bottom;
    background-repeat:no-repeat;
    border:solid 0px green;
    z-index:3;
}

#columnaDerechaDerDatos
{
    float:left;
    width:205px;
    height:370px;
    margin-top:5px;
    margin-left:2px;
    background-position:bottom;
    background-repeat:no-repeat;
    border:solid 0px green;
    z-index:3;
}

#columnaIzquierdaIzqTexto
{
    float:left;
    width:61px;
    height:370px;
    margin-top:5px;
    margin-left:2px;
    background-position:bottom;
    background-repeat:no-repeat;
    border:solid 0px green;
    z-index:3;
}

#columnaIzquierdaDerDatos
{
    float:left;
    width:205px;
    height:370px;
    margin-top:5px;
    margin-left:2px;
    background-position:bottom;
    background-repeat:no-repeat;
    border:solid 0px green;
    z-index:3;
}

#pieDePagina
{
    float:left;
    width:1024px;
    height:300px;
    margin-top:7px;
    margin-left:10px;
    background-position:bottom;
    background-repeat:no-repeat;
    /*background-image:url(../images/Bienvenido.jpg);*/
    border:solid 0px green;
    z-index:3;
}

.sep {
display: block;
height: 73px;
}