<form action="adjuntos_solint.php" method="POST" enctype="multipart/form-data">
 <input type="hidden" name="cabecera_id" value="{$smarty.session.arrDetsolinv['CABSOLINV_ID']}">
 <input name="userfile" type="file" id="userfile"> 
 <input name="upload" type="submit" class="box" id="upload" value=" Upload ">
 </form>
        