 <form action="adjuntos_solalta.php" method="POST" enctype="multipart/form-data">
 <input type="hidden" name="cabecera_id" value="{$smarty.session.arrDetsolaa['CABALTAHOSPADMIN_id']}">
 <input name="userfile" type="file" id="userfile"> 
 <input name="upload" type="submit" class="box" id="upload" value=" Upload ">
 </form>
          