<br>
						
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Funcion</th>
									<th>Seleccionar</th>
								</tr>
							</thead>
							<tbody>
								  
									{section name=num  loop=$smarty.session.arrFunciones}
							         <tr>
							          <td>{$smarty.session.arrFunciones[num].codigo}</td>
							          <td>{$smarty.session.arrFunciones[num].descripcion}</td> 
							          					       					        

									 <td>
										<input type="checkbox" name="seleccion{$smarty.session.arrFunciones[num].codigo}" value="{$smarty.session.arrFunciones[num].codigo}" >

									</td>
									</tr> 
									{/section} 	
							</tbody>
						</table>
                                                <br class="clearfix" />
						<br><br>