<br><br>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="solicitudesInternacionNoVoluntaria" width="100%">
						
							<thead>
								<tr>
									<th>Id</th>
									<th>Fecha Internacion</th>
									<th>Estado</th>
									<th>Nombre </th>
									<th>Tipo</th>
									<th>Asignar Rakim</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrSolinvs}
							         <tr>
							          <td>{$smarty.session.arrSolinvs[num].id_cabecera}</td>
							          <td>{$smarty.session.arrSolinvs[num].fecha}</td> 
							          <td>{$smarty.session.arrSolinvs[num].estado}</td> 
							          <td>{$smarty.session.arrSolinvs[num].usuario}</td> 
							          <td>{$smarty.session.arrSolinvs[num].solicitud}</td> 
							       					        

									<td>
										 {if $departamentito == 6}
										 <form>
										 <input type="text" name="rakim" id="rakim">
										 <input type="button" class="button medium green" id="enviar" value="Asignar Rakim" onClick="xajax_rakim_solinv({$smarty.session.arrSolinvs[num].id_cabecera},rakim.value);">
										 </form>
										 {/if}

									</td>
									</tr> 
							{/section} 	
							</tbody>
						</table>
   <br class="clearfix" /><br class="clearfix" /><br class="clearfix" />
   <div class="left">
	<input type="button" class="button medium red" id="enviar" value="Descargar PDF" onclick="xajax_pdf_solinv();" />
   </div>
<br><br>