<br>
<table border="1" >
							<thead>
								<tr>
									<th>Id</th>
                                                                        <th width="90">Id Solicitud</th>
                                                                        <th>Comentario</th>
									<th>Fechas</th>
								</tr>
							</thead>
							<tbody>
                                                        {section name=num  loop=$smarty.session.arrLogSolicitudesComentarios}   
								<tr>    
									<td>{$smarty.session.arrLogSolicitudesComentarios[num].codigo}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudesComentarios[num].idcab}</td>
									<td>{$smarty.session.arrLogSolicitudesComentarios[num].comentario}</td>
									<td>{$smarty.session.arrLogSolicitudesComentarios[num].fecha}</td>
								</tr> 
                                                         {/section}       
							</tbody>
                               </table>                         
			<br class="clearfix" />	
</table>
						