 <br><br>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="solicitudesAltaAdministrativa" width="100%">
						
							<thead>
								<tr>
									<th>Id</th>
									<th>Fecha Solicitud</th>
									<th>Estado</th>
									<th>Nombre </th>
									<th>Tipo</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrSolaa_hpsi}
							         <tr>
							          <td>{$smarty.session.arrSolaa_hpsi[num].id_cabecera}</td>
							          <td>{$smarty.session.arrSolaa_hpsi[num].fecha}</td> 
							          <td>{$smarty.session.arrSolaa_hpsi[num].estado}</td> 
							          <td>{$smarty.session.arrSolaa_hpsi[num].usuario}</td> 
							          <td>{$smarty.session.arrSolaa_hpsi[num].solicitud}</td> 
							       					        

									<td>
										<input type="button" class="button medium blue" id="enviar" value="Registrar" onClick="xajax_visarSolicitudAA({$smarty.session.arrSolaa_hpsi[num].id_cabecera},1);"> 
										&nbsp;&nbsp;&nbsp;
									</td>
									</tr> 
		   					{/section} 	
							</tbody>
						</table>
   <br class="clearfix" />
<br><br>