<br>
						
						Listado Perfiles.
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Perfil</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
									{section name=num  loop=$smarty.session.arrRoles}
							         <tr>
							          <td>{$smarty.session.arrRoles[num].codigo}</td>
							          <td>{$smarty.session.arrRoles[num].descripcion}</td> 
							          					       					        

									 <td>
										&nbsp;&nbsp;&nbsp;
										<input type="button" class="button medium blue" id="enviar" value="Asignar Funciones" onClick="xajax_muestra_modifica('{$smarty.session.arrRoles[num].codigo}','{$smarty.session.arrRoles[num].descripcion}');"> 
										&nbsp;&nbsp;&nbsp;
										<input type="button" class="button medium red" id="enviar" value="Eliminar" onClick="xajax_elimina_perfil('{$smarty.session.arrRoles[num].codigo}');">
									</td>
									</tr> 
									{/section} 	
							</tbody>
						</table>
                                                <br class="clearfix" />
						<br><br>