<table cellpadding="0" cellspacing="0" border="0" class="display" id="loghistoricousuarios" width="100%">
							<thead>
								<tr>
									<th>Id</th>
									<th>Fecha</th>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Accion</th>
                                    <th>Id Sol</th>
                                    <th>Tipo</th>
                                    <th>Descargar</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrHistoricoUsuarios}
							         <tr>
							          <td>{$smarty.session.arrHistoricoUsuarios[num].codigo}</td>
							          <td>{$smarty.session.arrHistoricoUsuarios[num].fecha}</td> 
							          <td>{$smarty.session.arrHistoricoUsuarios[num].nombres}</td> 
							          <td>{$smarty.session.arrHistoricoUsuarios[num].apellidos}</td> 
                                      <td>{$smarty.session.arrHistoricoUsuarios[num].accion}</td> 
                                      <td>{$smarty.session.arrHistoricoUsuarios[num].idsolicitud}</td> 
                                      <td>{$smarty.session.arrHistoricoUsuarios[num].tiposol}</td> 
							       					        

									<td>
										<input type="button" class="button medium blue" id="enviar" value="Visualizar PDF" onclick="" /> 
										                                 
									</td>
									</tr> 
							{/section} 	

							</tbody>
</table>
                                                