<br><br>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="solicitudesInternacionNoVoluntaria" width="100%">
						
							<thead>
								<tr>
									<th>Id</th>
									<th>Fecha Internacion</th>
									<th>Estado</th>
									<th>Nombre </th>
									<th>Tipo</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrSolinvs}
							         <tr>
							          <td>{$smarty.session.arrSolinvs[num].id_cabecera}</td>
							          <td>{$smarty.session.arrSolinvs[num].fecha}</td> 
							          <td>{$smarty.session.arrSolinvs[num].estado}</td> 
							          <td>{$smarty.session.arrSolinvs[num].usuario}</td> 
							          <td>{$smarty.session.arrSolinvs[num].solicitud}</td> 
							       					        

									<td>
										{if $departamentito != 6}
										<input type="button" class="button medium blue" id="enviar" value="Ver Detalle" onClick="xajax_visarsolinv({$smarty.session.arrSolinvs[num].id_cabecera},1);"> 
										&nbsp;&nbsp;&nbsp;
                                        <input type="button" class="button medium green" id="enviar" value="Visar" onClick="xajax_visarsolinv({$smarty.session.arrSolinvs[num].id_cabecera},0);">
										&nbsp;&nbsp;&nbsp;
										 {if $departamentito == 3 || $departamentito == 4}
										  <input type="button" class="button medium red" id="enviar" value="Resoluci&oacute;n" onClick="xajax_resolucion_SolicitudINV('{$smarty.session.arrSolinvs[num].id_cabecera}');"> 
										 {/if}
										 {/if}

										 {if $departamentito == 6}
										 <input type="text" name="rakim" id="rakim">
										 <input type="button" class="button medium green" id="enviar" value="Visar" onClick="xajax_visarsolinv({$smarty.session.arrSolinvs[num].id_cabecera},rakim.value);">
										 {/if}

									</td>
									</tr> 
							{/section} 	
							</tbody>
						</table>
   <br class="clearfix" />
<br><br>