 <br><br>

						<table cellpadding="0" cellspacing="0" border="0" class="display" id="solicitudesInternacionAdmin" width="100%">
							<thead>
								<tr>
									<th>Id</th>
                                                                        <th>Fecha Emisi&oacute;n</th>
									<th>Estado</th>
									<th>Nombres</th>
									<th>Apellidos</th>
                                                                        <th>Tipo</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrSolicitudes}
							         <tr>
							          <td>{$smarty.session.arrSolicitudes[num].codigo}</td>
							          <td>{$smarty.session.arrSolicitudes[num].fechaEvaluacion}</td> 
							          <td>{$smarty.session.arrSolicitudes[num].estadosolicitud}</td> 
							          <td>{$smarty.session.arrSolicitudes[num].nombres}</td> 
							          <td>{$smarty.session.arrSolicitudes[num].apellidos}</td> 
                                                                  <td>{$smarty.session.arrSolicitudes[num].tiposolicitud}</td> 
							       					        

									<td>
										<input type="button" class="button medium blue" id="enviar" value="Ver Detalle" onClick="xajax_visarsolinternacionadmin('{$smarty.session.arrSolicitudes[num].codigo}',1);"> 
										&nbsp;&nbsp;&nbsp;
                                                                                <input type="button" class="button medium green" id="enviar" value="Visar" onClick="xajax_visarsolinternacionadmin({$smarty.session.arrSolicitudes[num].codigo},0);">
										&nbsp;&nbsp;&nbsp;  {if $departamentito == 3 || $departamentito == 4}
                                                                                <input type="button" class="button medium red" id="enviar" value="Resoluci&oacute;n" onClick="xajax_resolucion_SolicitudInternacionAdministrativa('{$smarty.session.arrSolicitudes[num].codigo}');"> 
                                                            {/if}
									</td>
									</tr> 
							{/section} 	
							</tbody>
						</table>
                                                <br class="clearfix" />
						<br><br>