<br>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="logsolicitudes" width="100%">
							<thead>
								<tr>
									<th>Id</th>
                                                                        <th width="90">Id Solicitud</th>
                                                                        <th>Fecha</th>
									<th>Nombres</th>
                                                                        <th>Apellidos</th>
									<th>Departamento</th>
                                                                        <th>Tipo</th>
									<th>Estado</th>
                                                                        <th>Observaciones</th>
								</tr>
							</thead> 
							<tbody>
                                                         {section name=num  loop=$smarty.session.arrLogSolicitudes}   
								<tr>    
									<td>{$smarty.session.arrLogSolicitudes[num].codigo}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudes[num].codigosolicitud}</td>
									<td>{$smarty.session.arrLogSolicitudes[num].fecha}</td>
									<td>{$smarty.session.arrLogSolicitudes[num].nombres}</td>
									<td>{$smarty.session.arrLogSolicitudes[num].apellidos}</td>
									<td>{$smarty.session.arrLogSolicitudes[num].departamento}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudes[num].tipo}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudes[num].estado}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudes[num].observaciones}</td>
								</tr> 
                                                         {/section}       
							</tbody>
							<br class="clearfix" />	
						</table>
						<br><br>
						<div class="right">
							<input type="button" class="button medium red" id="enviar" value="Descargar PDF" onclick="xajax_pdf();" />
						</div>
						<br class="clearfix" />	