<br>
<table border="1" >
							<thead>
								<tr>
									<th>Id</th>
                                                                        <th width="90">Id Solicitud</th>
                                                                        <th>Fecha</th>
									<th>Nombres</th>
                                                                        <th>Apellidos</th>
									<th>Departamento</th>
                                                                        <th>Tipo</th>
									<th>Estado</th>
                                                                        <th>Observaciones</th>
								</tr>
							</thead>
							<tbody>
                                                        {section name=num  loop=$smarty.session.arrLogSolicitudesEvento}   
								<tr>    
									<td>{$smarty.session.arrLogSolicitudesEvento[num].codigo_log}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudesEvento[num].codigo}</td>
									<td>{$smarty.session.arrLogSolicitudesEvento[num].fecha}</td>
									<td>{$smarty.session.arrLogSolicitudesEvento[num].nombres}</td>
									<td>{$smarty.session.arrLogSolicitudesEvento[num].apellidos}</td>
									<td>{$smarty.session.arrLogSolicitudesEvento[num].departamento}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudesEvento[num].tipo}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudesEvento[num].estado}</td>
                                                                        <td>{$smarty.session.arrLogSolicitudesEvento[num].observaciones}</td>
								</tr> 
                                                         {/section}       
							</tbody>
                               </table>                         
			<br class="clearfix" />	
</table>
						