<table border="1">
  <tr>
    <th>Nombre Archivo</th>
    <th>Acciones</th>
  </tr>
 
  {section name=num  loop=$smarty.session.arrAdjuntos}
      <tr>
        <td>{$smarty.session.arrAdjuntos[num].nombre}</td>
        <td> &nbsp;&nbsp;&nbsp;<input type="button" class="button small red" id="enviar" value="Descargar" onClick="xajax_ver_adjunto({$smarty.session.arrAdjuntos[num].codigo});"> 
        </td>
      </tr> 
 {/section} 
</table>