 <br><br>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="asignacionDeCamas" width="100%">
						
							<thead>
								<tr>
									<th>ID</th>
                                                                        <th>Fecha Asignaci&oacute;n</th>
									<th>Paciente</th>
                                                                        <th>Establecimiento</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrAsignacioncamas}
							         <tr>
							          <td>{$smarty.session.arrAsignacioncamas[num].codigo}</td>
							          <td>{$smarty.session.arrAsignacioncamas[num].fecha}</td> 
							          <td>{$smarty.session.arrAsignacioncamas[num].paciente}</td> 
							       	  <td>{$smarty.session.arrAsignacioncamas[num].establecimiento}</td> 				        

									<td>
										<input type="button" class="button medium blue" id="enviar" value="Eliminar Registro" onClick="xajax_eliminar_camas({$smarty.session.arrAsignacioncamas[num].codigo});"> 
										&nbsp;&nbsp;&nbsp;
									</td>
									</tr> 
		   					{/section} 	
							</tbody>
						</table>
   <br class="clearfix" />
<br><br>