<br><br>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="solicitudesAltaAdministrativa" width="100%">
						
							<thead>
								<tr>
									<th>Id</th>
									<th>Fecha Solicitud</th>
									<th>Estado</th>
									<th>Nombre </th>
									<th>Tipo</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrSolaa}
							         <tr>
							          <td>{$smarty.session.arrSolaa[num].id_cabecera}</td>
							          <td>{$smarty.session.arrSolaa[num].fecha}</td> 
							          <td>{$smarty.session.arrSolaa[num].estado}</td> 
							          <td>{$smarty.session.arrSolaa[num].usuario}</td> 
							          <td>{$smarty.session.arrSolaa[num].solicitud}</td> 
							       					        

									<td>
										<input type="button" class="button medium blue" id="enviar" value="Ver Detalle" onClick="xajax_visarSolicitudAA({$smarty.session.arrSolaa[num].id_cabecera},1);"> 
										&nbsp;&nbsp;&nbsp;
                                                                                <input type="button" class="button medium green" id="enviar" value="Visar" onClick="xajax_visarSolicitudAA({$smarty.session.arrSolaa[num].id_cabecera},0);">
										&nbsp;&nbsp;&nbsp;
										 {if $departamentito == 3 || $departamentito == 4 || $departamentito == 2}
										  <input type="button" class="button medium red" id="enviar" value="Resoluci&oacute;n" onClick="xajax_resolucion_SolicitudAA('{$smarty.session.arrSolaa[num].id_cabecera}');"> 
										 {/if}
									</td>
									</tr> 
		   					{/section} 	
							</tbody>
						</table>
   <br class="clearfix" />
<br><br>