<br>
						
						
						<table name="grilla_hospitales" id="grilla_hospitales">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Direccion</th>
									
									<th>Fono</th>
									<th>Provincia</th>
									<th>Comuna</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
									{section name=num  loop=$smarty.session.arrHosp}
							         <tr>
							          <td>{$smarty.session.arrHosp[num].nombres}</td>
							          <td>{$smarty.session.arrHosp[num].direccion}</td> 
							          <td>{$smarty.session.arrHosp[num].fono}</td> 
							          <td>{$smarty.session.arrHosp[num].provincia}</td> 
							          <td>{$smarty.session.arrHosp[num].comuna}</td> 
							       					        

									 <td>
										&nbsp;&nbsp;&nbsp;
										<input type="button" class="button medium blue" id="enviar" value="Modificar" onClick="xajax_muestra_modifica('{$smarty.session.arrHosp[num].id_hospital}');"> 
										&nbsp;&nbsp;&nbsp;
										<input type="button" class="button medium red" id="enviar" value="Eliminar" onClick="xajax_elimina('{$smarty.session.arrHosp[num].id_hospital}');">
									</td>
									</tr> 
									{/section} 	
							</tbody>
						</table>
                                                <br class="clearfix" />
						<br><br>