<br>
						
						
						<table>
							<thead>
								<tr>
									<th>Rut</th>
									<th>Nombres</th>
									
									<th>Direccion</th>
									<th>Correo</th>
									<th>Celular</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
									{section name=num  loop=$smarty.session.arrUsuarios}
							         <tr>
							          <td>{$smarty.session.arrUsuarios[num].rut}</td>
							          <td>{$smarty.session.arrUsuarios[num].nombres}</td> 
							          <td>{$smarty.session.arrUsuarios[num].direccion}</td> 
							          <td>{$smarty.session.arrUsuarios[num].correo}</td> 
							          <td>{$smarty.session.arrUsuarios[num].celular}</td> 
							       					        

									 <td>
										&nbsp;&nbsp;&nbsp;
										<input type="button" class="button medium blue" id="enviar" value="Modificar" onClick="xajax_muestra_modifica('{$smarty.session.arrUsuarios[num].codigo}');"> 
										&nbsp;&nbsp;&nbsp;
										<input type="button" class="button medium red" id="enviar" value="Eliminar" onClick="xajax_elimina('{$smarty.session.arrUsuarios[num].codigo}');">
									</td>
									</tr> 
									{/section} 	
							</tbody>
						</table>
                                                <br class="clearfix" />
						<br><br>