 <br><br>

						<table cellpadding="0" cellspacing="0" border="0" class="display" id="solicitudesEvaluacionesHPSI" width="100%">
							<thead>
								<tr>
									<th>Id</th>
                                                                        <th>Fecha Emisi&oacute;n</th>
									<th>Estado</th>
									<th>Usuario</th>
                                                                        <th>Tipo</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrSolevasHPSI}
							         <tr>
							          <td>{$smarty.session.arrSolevasHPSI[num].codigo}</td>
							          <td>{$smarty.session.arrSolevasHPSI[num].fechaEvaluacion}</td> 
							          <td>{$smarty.session.arrSolevasHPSI[num].estadosolicitud}</td> 
							          <td>{$smarty.session.arrSolevasHPSI[num].usuario}</td> 
                                                                  <td>{$smarty.session.arrSolevasHPSI[num].tiposolicitud}</td> 
							       					        

									<td>
                                                                            <input type="button" class="button medium blue" id="enviar" value="Registrar" onClick="xajax_visarsolET('{$smarty.session.arrSolevasHPSI[num].codigo}',6);"> 

                   
									</td>
									</tr> 
							{/section} 	
							</tbody>
						</table>
                                                <br class="clearfix" />
						<br><br>