<br><br>
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="solicitudesAltasListas" width="100%">
						
							<thead>
								<tr>
									<th>Id</th>
									<th>Fecha Solicitud</th>
									<th>Estado</th>
									<th>Rut</th>
                                                                        <th>Paciente</th>
                                                                        <th>Fono</th>
                                                                        <th>Hospital</th>
                                                                        <th>Direcci&oacute;n</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrSolaa_listas}
							         <tr>
							          <td>{$smarty.session.arrSolaa_listas[num].id_cabecera}</td>
							          <td>{$smarty.session.arrSolaa_listas[num].fecha}</td> 
							          <td>{$smarty.session.arrSolaa_listas[num].estado}</td> 
							          <td>{$smarty.session.arrSolaa_listas[num].rut_paciente}</td>
                                                                  <td>{$smarty.session.arrSolaa_listas[num].paciente}</td> 
                                                                  <td>{$smarty.session.arrSolaa_listas[num].fono}</td> 
                                                                  <td>{$smarty.session.arrSolaa_listas[num].centro_salud}</td> 
							          <td>{$smarty.session.arrSolaa_listas[num].direccion}</td> 
							       					        

									
		   					{/section} 	
							</tbody>
						</table>
   <br class="clearfix" />
<br><br>