 <br><br>

						<table cellpadding="0" cellspacing="0" border="0" class="display" id="solicitudesInternacionAdmin" width="100%">
							<thead>
								<tr>
									<th>Id</th>
                                                                        <th>Fecha Emisi&oacute;n</th>
									<th>Estado</th>
									<th>Nombres</th>
									<th>Apellidos</th>
                                                                        <th>Tipo</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
							{section name=num  loop=$smarty.session.arrSolicitudes}
							         <tr>
							          <td>{$smarty.session.arrSolicitudes[num].codigo}</td>
							          <td>{$smarty.session.arrSolicitudes[num].fechaEvaluacion}</td> 
							          <td>{$smarty.session.arrSolicitudes[num].estadosolicitud}</td> 
							          <td>{$smarty.session.arrSolicitudes[num].nombres}</td> 
							          <td>{$smarty.session.arrSolicitudes[num].apellidos}</td> 
                                                                  <td>{$smarty.session.arrSolicitudes[num].tiposolicitud}</td> 
							       					        

									<td>
										 {if $departamentito == 6}
										 <form>
										 <input type="text" name="rakim" id="rakim">
										 <input type="button" class="button medium green" id="enviar" value="Asignar Rakim" onClick="xajax_rakim_solint({$smarty.session.arrSolicitudes[num].codigo},rakim.value);">
										 </form>
										 {/if}

									</td>
									</tr> 
							{/section} 	
							</tbody>
						</table> <br class="clearfix" /><br class="clearfix" /><br class="clearfix" />
   <div class="left">
	<input type="button" class="button medium red" id="enviar" value="Descargar PDF" onclick="xajax_pdf_solint();" />
   </div>
<br><br>