<br>
						<table name="correos" id="correos">
							<thead>
								<tr>
									<th>ID</th>
                                                                        <th>Descripci&oacute;n</th>
									<th>Correo</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								  
								{section name=num  loop=$smarty.session.arrCorreos}
							         <tr>
							          <td>{$smarty.session.arrCorreos[num].codigo}</td>
							          <td>{$smarty.session.arrCorreos[num].descripcion}</td> 
							          <td>{$smarty.session.arrCorreos[num].mail}</td> 
                                                                       <td>
                                                                            &nbsp;&nbsp;&nbsp;
                                                                            <input type="button" class="button medium blue" id="enviar" value="Cargar" onClick="xajax_muestra_modifica({$smarty.session.arrCorreos[num].codigo});"> 
                        
                                                                       </td>
								</tr> 
								{/section} 	
							</tbody>
						</table>
                                                <br class="clearfix" />
						<br><br>