<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-
transitional.dtd">
<html>
    <head lang="es">
        <title>Sistema de Administraci&oacute;n de Bodega - SEREMI Salud Valpara&iacute;so</title>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
        <meta name="title" content="Sistema de Administraci&oacute;n de Bodega - SEREMI Salud Valpara&iacute;so" />
        <meta name="description" content="Sistema de Administraci&oacute;n de Bodega - SEREMI Salud Valpara&iacute;so" />
        <style  type="text/css">
            @import  url("css/c2_dante.css");
        </style>
    </head>
    <body>
        <div id="CuerpoInicioSesion">
    <!-- CABECERA DEL SITIO -->
            <div id="Cabecera">   
                 {include file="principal.tpl"}
            </div>
        </div>
    </body>
</html>