
{$xajax_js}

<form id="formId" name="formId">
<div id="header">
    
		<div class="left inter"></div>
		<div class="left head-title">
			<h1>OBSERVACIONES</h1>
                        Ingrese la Observacion: <input type="text" id="observacion" name="observacion" value="" />    
                        <input type="button" class="button medium green" id="enviar" value="Enviar" onClick="xajax_rechazar_solicitud(xajax.getFormValues('formId'),'{$smarty.session.arrDetsolinternacionadmin['CABINTADMIN_id']}','{$smarty.session.arrDetsolinternacionadmin['CABINTADMIN_idEstadoSolicitud']}');">
                           
                       
		</div>
		<br class="clearfix" />
                
</div>
</form>
                